.header {
    padding: 30px 0;
    float: left;
    width: 100%;
  }
  .header .main-header {
    display: flex;
    align-items: center;
  }
  .header .main-header .header-right {
    display: inline-block;
    min-width: 215px;
    text-align: right;
  }
  .header .main-header .header-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .header .main-header .header-left {
    display: flex;
    align-items: center;
  }
  .header .main-header .header-left .header-logo {
    margin-right: 0;
    min-width: 139px;
  }
  .header .nav-main-menu {
    display: inline-block;
    width: auto;
    padding: 0px;
    text-align: left;
  }
  .header .main-menu li {
    float: left;
    padding: 10px 22px;
    position: relative;
  }
  .header .main-menu li.dashboard a {
    border: 1px dashed #3C65F5;
    padding: 5px 8px;
    border-radius: 4px;
  }
  .header .main-menu li.has-children > a::after {
    content: "\f151";
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1 !important;
    font-size: 18px;
    opacity: 1;
    margin-left: 4px;
    position: absolute;
    top: 1px;
    right: -19px;
    color: #A0ABB8;
  }
  .header .main-menu li.hr {
    padding: 0px 22px;
  }
  .header .main-menu li.hr span {
    background-color: #E0E6F6;
    height: 1px;
    width: 100%;
    display: block;
    margin: 5px 0;
  }
  .header .main-menu li a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #05264E;
    display: block;
    padding: 0px;
    text-decoration: none;
    position: relative;
  }
  .header .main-menu li a:hover, .header .main-menu li a.active {
    color: #3C65F5;
  }
  .header .main-menu li a:hover::before, .header .main-menu li a.active::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #3C65F5;
    position: absolute;
    bottom: -10px;
    left: 0px;
  }
  .header .main-menu li a i {
    font-size: 10px;
    opacity: 0.5;
    margin-left: 3px;
  }
  .header .main-menu li ul {
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.2s;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 999;
    min-width: 220px;
    border-radius: 10px;
    border: 1px solid #ececec;
    box-shadow: 0px 10px 20px -5px rgba(10, 42, 105, 0.06);
    background-color: #ffffff;
    padding: 10px 0px 15px 0;
  }
  .header .main-menu li ul li {
    width: 100%;
    padding: 0px;
  }
  .header .main-menu li ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    color: #253D4E;
    position: relative;
    padding: 14px 22px 10px 35px;
    transition: 0.3s;
  }
  .header .main-menu li ul li a::after {
    content: "";
    position: absolute;
    left: 22px;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: #05264E;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.2s;
  }
  .header .main-menu li ul li a:hover, .header .main-menu li ul li a.active {
    padding-left: 38px;
    transition: 0.5s;
  }
  .header .main-menu li ul li a:hover::after, .header .main-menu li ul li a.active::after {
    opacity: 1;
    transition-duration: 0.3s;
  }
  .header .main-menu li ul li a:hover::before, .header .main-menu li ul li a.active::before {
    display: none;
  }
  .header .main-menu li ul li ul {
    top: 0px;
    left: 100%;
  }
  .header .main-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
  }
  .header .main-menu li:hover > ul li {
    width: 100%;
  }
  .header .text-link-bd-btom {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #05264E;
    display: inline-block;
    position: relative;
    text-decoration-line: underline;
  }
  .header .text-link-bd-btom:hover {
    color: #3C65F5;
  }
  .header .block-signin .btn-shadow {
    box-shadow: 0px 18px 40px rgba(25, 15, 9, 0.1);
  }
  .header.stick {
    padding: 14px 0px;
  }
  .header.header-2 {
    background-color: #F8FAFF;
  }
  .header-brand-2 {
    background: #3C65F5;
  }
  .header-brand-2.sticky-bar.stick {
    background: #3C65F5;
  }
  .header-brand-2 .main-menu > li > a {
    color: #E0E6F6;
  }
  .header-brand-2 .main-menu > li > a:hover {
    color: #ffffff;
  }
  .header-brand-2 .main-menu > li > a:hover::before, .header-brand-2 .main-menu > li > a .active::before {
    background-color: #ffffff;
  }
  .header-brand-2 .main-menu li a, .header-brand-2 .main-menu li a.active {
    color: #ffffff;
  }
  .header-brand-2 .main-menu li a:hover::before, .header-brand-2 .main-menu li a .active::before, .header-brand-2 .main-menu li a.active:hover::before, .header-brand-2 .main-menu li a.active .active::before {
    background-color: #ffffff;
  }
  .header-brand-2 .main-menu li a {
    color: #E0E6F6;
  }
  .header-brand-2 .main-menu li a:hover, .header-brand-2 .main-menu li a.active {
    color: #ffffff;
  }
  .header-brand-2 .main-menu li a:hover::before, .header-brand-2 .main-menu li a.active::before {
    background-color: #ffffff;
  }
  .header-brand-2 .main-menu li ul li a:hover {
    color: #3C65F5;
  }
  .header-brand-2 .text-link-bd-btom {
    color: #ffffff;
  }
  .header-brand-2 .btn-default {
    background-color: #ffffff;
    color: #3C65F5;
    font-weight: 500;
  }
  .mobile-header-wrapper-style {
    position: fixed;
    top: 0px;
    width: 380px;
    min-height: 100vh;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
    z-index: 998;
  }
  .mobile-header-wrapper-style.sidebar-visible {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner {
    padding: 0px 0px 30px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 34px 30px 30px 30px;
    background-color: #ffffff;
    align-items: center;
    align-self: center;
    border-bottom: thin solid #E0E6F6;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top .mobile-header-logo a {
    display: block;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top .mobile-header-logo a img {
    width: 100px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area {
    padding: 30px 30px 30px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li {
    display: block;
    position: relative;
    padding: 13px 0;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.hr {
    display: none;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li:last-child {
    border-bottom: none;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.has-children .menu-expand {
    right: 0;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    text-align: center;
    font-size: 12px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 38px;
    top: 5px;
    color: #05264E;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.has-children .menu-expand i {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.5;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.has-children.active > .menu-expand {
    background: rgba(255, 255, 255, 0.2);
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li.has-children.active > .menu-expand i::before {
    content: "\f113";
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li a {
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    display: inline-block;
    color: #05264E;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li a i {
    margin-right: 5px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul {
    padding: 10px 0 0 10px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li {
    padding: 10px 0;
    border-bottom: none;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li.has-children .menu-expand {
    top: 0px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li:hover a {
    padding-left: 13px;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li:hover a::before {
    opacity: 1;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li a {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #253D4E;
    padding-left: 10px;
    position: relative;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    width: 5px;
    height: 5px;
    background-color: #E0E6F6;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li ul {
    margin-top: 0;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li ul li.has-children.active {
    padding-bottom: 0;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li:hover > a {
    color: #05264E;
    padding-left: 3px;
    transition-duration: 0.2s;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .categories-dropdown-wrap ul li a {
    padding: 5px 15px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #E0E6F7;
    margin: 17px 0 30px 0;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info {
    position: relative;
    margin-bottom: 13px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info:last-child {
    margin-bottom: 0;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info a {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #05264E;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info a:hover {
    color: #05264E;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info a i {
    font-size: 14px;
    color: #05264E;
    margin-right: 8px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info .lang-curr-dropdown {
    margin-top: 5px;
    display: none;
    background-color: transparent;
    box-shadow: none;
    padding: 10px 0 0 0;
    width: 100%;
    z-index: 11;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info .lang-curr-dropdown ul li {
    padding-bottom: 10px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info .lang-curr-dropdown ul li:last-child {
    padding-bottom: 0px;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info .lang-curr-dropdown ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info .lang-curr-dropdown ul li a:hover {
    color: #05264E;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-info-wrap .single-mobile-header-info:hover > a {
    color: #05264E;
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .mobile-header-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-content-area .site-copyright {
    font-size: 12px;
    color: #4F5E64;
  }
    